<div class="info">
    <div id="reference-page">
        Tham khảo từ website: <a href="https://tiki.vn/"  target="_blank">Tiki</a>
    </div>
    <div id="creator">
        Xây dựng bởi MH ^^
    </div>
</div>