<nav class="navbar navbar-light" style="background-color: rgb(26, 148, 255);">
    <a class="navbar-brand" href="#">
        <img id="logo" src="https://salt.tikicdn.com/ts/upload/ae/f5/15/2228f38cf84d1b8451bb49e2c4537081.png" class="d-inline-block align-top" alt="">
    </a>

    <form class="form-inline" action="/home/search" method="GET">               
          <input type="text" name="q" placeholder="Nhập nội dung tìm kiếm...">
        <button class="search-button">Tìm Kiếm</button>
    </form>
    
    <a class="nav-link" href="#">
        <img with="30px" height="30px" src="https://salt.tikicdn.com/ts/upload/40/44/6c/b80ad73e5e84aeb71c08e5d8d438eaa1.png" alt="">
        Giỏ hàng
    </a>

    <a class="nav-link" id="login-username" href="#">
        <img with="30px" height="30px" src="https://salt.tikicdn.com/ts/upload/67/de/1e/90e54b0a7a59948dd910ba50954c702e.png" alt=""> 
        Đăng nhập/Đăng ký
    </a>
</nav>