/* box-sizing: border-box để tính toán kích thước chính xác. Loại bỏ margin và padding mặc định */
* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    /* ẩn thanh cuộn dọc */
    overflow-y:hidden; 
    /* ẩn thanh cuộn ngang */
    overflow-x:hidden;
}

/* thuộc tính flex đặt độ dài linh hoạt trên các hàng linh hoạt. */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(26, 148, 255);
}

#logo {
    margin: 10px;
    margin-left: 20px;
    width: 60px;
    height: 60x;
}

#label-login{
    font-size: 25px;
    margin: 15px 15px 10px 20px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
}

.login-body-container h3{
    font-weight: 700;
    color: rgb(26, 148, 255);
    font-size: 30px;
    text-align: center;
    margin: 24px;
    text-transform: uppercase;
    border: 2px solid;
    padding: 5px 0 5px 0;
    border-radius: 5px;
}

form {
    display: block;
    margin-top: 0em;
    line-height: 1.8;
}

.login-username, .login-password{
    height: 48px;
    background: rgba(0,0,0,.05);
    color: #000;
    font-size: 16px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    padding-left: 20px;
    border-radius: 5px;
}

.login-form-username, .login-form-password{
    margin: 24px
}

.login-form-username input, .login-form-password input{
    font-family: Roboto;
    width: 100%;
}

.login-form-remember-me-and-forgot-password{
    position: relative;
    margin-bottom: 1rem;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
}

.login-form-remember-me-and-forgot-password #checkbox-wrap{
    color: rgb(26, 148, 255);
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    user-select: none;
}

.login-form-remember-me-and-forgot-password a {
    font-size: 16px;
    font-weight: 500;
    color: rgb(26, 148, 255);
    transition: .3s all ease;
}

.login-forgot-password {
    text-align: left!important;
    width: 100%!important;
    padding-left: 30px;
    margin-bottom: 12px;
}

.login-wrap{
    position: relative;
    background: #fff;
    border-radius: 10px;
    /* box-shadow: 0 10px 34px -15px rgb(0 0 0 / 24%); */
    box-shadow: 0 10px 60px -15px rgb(0 0 0 / 24%);
    margin: 5px 0 5px 0;
}

.p-md-5 {
    padding: 1rem!important;
}

.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.button-login{
    position: relative;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 10px;
}

.button-login button{
    font-size: 20px;
    font-weight: 550;
}

.img-login{
    text-align: center;
}

.img-login #image-person{
    height: 120px;
}

#message-username, #message-password {
    padding-left: 30px;
}