<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>

    <!-- Add icon website -->
    <link rel="icon" href="https://cdn-icons.flaticon.com/png/128/2354/premium/2354573.png?token=exp=1639496107~hmac=3759207537b90fd4c84610decfc18149">
    <!-- Add bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Add css -->
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
    <header>
        <div class="flex-container">
            <div id="img-logo">
                <img id="logo" src="https://salt.tikicdn.com/ts/upload/ae/f5/15/2228f38cf84d1b8451bb49e2c4537081.png" alt="">
            </div>
            <div id="label-login">Đăng nhập</div>
        </div>
    </header>

    <div class="login-body-container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <h3>
                        Đăng nhập
                    </h3>
                    <div class="img-login">
                        <img id="image-person" src="images/account_icon.png" alt="">
                    </div>
                    <form action="#" class="login-form">
                        <div class="login-form-email">
                            <input type="text" tabindex="1" class="login-email" id = "email" placeholder="Nhập email..." required>
                            <div id = "message-email"></div>
                        </div>
                        <div class="login-form-password">
                            <input type="password" tabindex="2" class="login-password" id = "password" placeholder="Nhập mật khẩu..." required>
                            <div id = "message-password"></div>
                            <div id = "message" ></div>
                        </div>
                        <div class="login-form-remember-me-and-forgot-password">
                            <div class="login-remember-me">
                                    <label id="checkbox-wrap">
                                        <!-- Thêm thuộc tính checked trong input để khi load form checkbox luôn hiển thị đã được check -->
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                        Ghi nhớ mật khẩu
                                    </label>
                            </div>
                            <div class="login-remember-me login-forgot-password">
                                <a href="https://www.google.com/">Quên mật khẩu ?</a>
                            </div>
                        </div>
                        <div class="button-login">
                            <button id="login" tabindex="3" type="button" onclick="validationLogin()" class="btn btn-primary rounded submit p-3 px-5">Đăng nhập</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Thêm thư viện axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script type="text/javascript" src="JS/login.js"></script> -->
</body>
</html>